header{
    text-align: center;
}


body
{
    background-color: ivory;
    
}

main{
    text-align: center;
}

img{
    width: 300px;
    height: 300px;
}

#mainpic{
    margin:auto;
}